<header class="navbar">
        <div class="logo">
            <button class="menu-toggle" id="menuToggle" aria-label="Toggle Menu">☰</button>
            <img src="assets/images/logo.png" alt="Logo" class="site-logo-original" />
            <h1>Quản lý dân cư - Tổ dân phố 7 Phường La Khê</h1>
        </div>
        <div class="user-info">
            <span id="username">admin</span> 
            <span id="role">Tổ trưởng</span>
            <button id="logoutBtn"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
        </div>
    </header>