<nav class="top-nav" id="topNav">
        <ul id="menu">
            <li><a href="#" class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="#"><i class="fas fa-home"></i> Quản lý hộ khẩu</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Quản lý nhân khẩu</a></li>
            <li><a href="#"><i class="fas fa-bed"></i> Tạm trú / Tạm vắng</a></li>
            <li><a href="#"><i class="fas fa-chart-bar"></i> Thống kê & Báo cáo</a></li>
            <li><a href="#" class="active"><i class="fas fa-user-cog"></i> Quản lý tài khoản</a></li>
            <li><a href="#"><i class="fas fa-book-open"></i> Nhà văn hoá</a></li>
        </ul>
    </nav>